
# dataset
data/training_datasets.zip.enc

# checkpoint files
lora_final
lora_out

# virtual environment
.venv

# API keys
.env

# caches
**/__pycache__
**/.DS_Store

# Protected dataset (added by easy-dataset-share)
data/training_datasets.zip.enc.extracted/
